<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>artifactory</id>
      <mirrorOf>!com.github.seqware,!snapshots.com.github.seqware,!dependencies.com.github.seqware,!snapshots.dependencies.com.github.seqware,!dependencies.gsi,!snapshots.gsi,!release.gsi</mirrorOf>
      <url>https://wrench2.oicr.on.ca/artifactory/remote-repos</url>
      <name>Artifactory</name>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>oicr</id>
      <repositories>
        <repository>
          <id>com.github.seqware</id>
          <name>SeqWare Maven Repository</name>
          <url>https://seqwaremaven.oicr.on.ca/artifactory/seqware-release</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots.com.github.seqware</id>
          <name>SeqWare Maven Snapshot Repository</name>
          <url>https://seqwaremaven.oicr.on.ca/artifactory/seqware-snapshot</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>dependencies.com.github.seqware</id>
          <name>SeqWare Dependencies Maven Repository</name>
          <url>https://seqwaremaven.oicr.on.ca/artifactory/seqware-dependencies</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots.dependencies.com.github.seqware</id>
          <name>SeqWare Dependencies Maven Snapshot Repository</name>
          <url>https://seqwaremaven.oicr.on.ca/artifactory/seqware-dependencies-snapshot</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
          <repository>
            <id>release.gsi</id>
            <name>GSI Releases Maven Repository</name>
            <url>https://artifacts.oicr.on.ca/artifactory/gsi-release</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots.gsi</id>
          <name>GSI Releases Maven Snapshot Repository</name>
          <url>https://artifacts.oicr.on.ca/artifactory/gsi-snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>dependencies.gsi</id>
          <name>GSI Dependencies Maven Snapshot Repository</name>
          <url>https://artifacts.oicr.on.ca/artifactory/gsi-dependencies</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
            <id>miso.release</id>
            <name>MISO Release Maven Repository</name>
            <url>https://artifacts.oicr.on.ca/artifacts/miso-release</url>
            <releases>
              <enabled>true</enabled>
            </releases>
            <snapshots>
              <enabled>false</enabled>
                </snapshots>
          </repository>
          <repository>
            <id>miso.snapshot</id>
            <name>MISO Maven Snapshot Repository</name>
            <url>https://artifacts.oicr.on.ca/artifacts/miso-snapshot</url>
            <releases>
              <enabled>false</enabled>
            </releases>
            <snapshots>
              <enabled>true</enabled>
            </snapshots>
          </repository>
         <repository>
           <id>atlassian-public</id>
           <url>https://maven.atlassian.com/content/repositories/atlassian-public/</url>
           <snapshots>
             <enabled>true</enabled>
             <updatePolicy>daily</updatePolicy>
             <checksumPolicy>warn</checksumPolicy>
           </snapshots>
           <releases>
             <enabled>true</enabled>
             <checksumPolicy>warn</checksumPolicy>
           </releases>
         </repository>
    </repositories> 
     <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>Central Repository</name>
          <url>http://repo.maven.apache.org/maven2</url>
        </pluginRepository>
         <pluginRepository>
           <id>atlassian-public</id>
           <url>https://m2proxy.atlassian.com/repository/public</url>
           <releases>
             <enabled>true</enabled>
             <checksumPolicy>warn</checksumPolicy>
           </releases>
           <snapshots>
             <checksumPolicy>warn</checksumPolicy>
           </snapshots>
         </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>oicr</activeProfile>
  </activeProfiles>
</settings>
